[submodule "spdx-3-model"]
	path = spdx-3-model
	url = https://github.com/spdx/spdx-3-model/
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/maxhbr/spec-parser.hs
	branch = gh-pages
